<!-- Teacher -->
<div class="">
    <div class="row">
        <h3>
            Profile Section
        </h3>
        <blockquote>
            <p>Update your profile here</p>
        </blockquote>
        <blockquote>
            <p>Minimum length of 6 characters for passwords</p>
        </blockquote>
    </div>
    <div class="z-depth-1 profile_form">
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="tea_name" type="text" class="validate">
                <label for="tea_name">Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="tea_email" type="email" class="validate">
                <label for="tea_email">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="tea_password" type="password" class="validate">
                <label for="tea_password">Password</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="tea_c_password" type="password" class="validate">
                <label for="tea_c_password"> Confirm Password</label>
            </div>
            <div class="input-field col s12 m12">
                <input id="tea_college" type="text" class="validate">
                <label for="tea_college"> College Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="tea_number" type="number" class="validate">
                <label for="tea_number"> Contact Number</label>
            </div>
            <div class="input-field col s12 m12">
                <a class="waves-effect waves-light btn orange accent-4">Update Profile</a>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->