<div class="row">
    <h3>
        Quiz
    </h3>
    <blockquote>
        <p>View all available quiz.</p>
    </blockquote>
    <blockquote>
        <p>Take them and test your knowledge.</p>
    </blockquote>
</div>


<div class="row">
    <!-- quiz cards start -->


    <!-- Card start -->

    <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image">
                <img src="img/quiz_card.jpg">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
                <p class="flow-text">Title</p>
            </div>
            <div class="card-action">
                <a href="./quiz_platform.html">Take quiz</a>
            </div>
        </div>
    </div>

    <!-- quiz cards ends -->
</div>