<!-- Add course -->
<div class="">
    <div class="row">
        <h3>
            Add course
        </h3>
        <blockquote>
            <p>Add new courses</p>
        </blockquote>
    </div>
    <div class="profile_form">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12 m10">
                    <input id="course_name" type="text" class="validate">
                    <label for="course_name">Title</label>
                </div>
                <div class="input-field col s12 m2">
                    <input id="course_credit" type="number" class="validate">
                    <label for="course_credit">Credit</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
                <div class="input-field col s12 m12">
                    <a class="waves-effect waves-light btn blue darken-4">Add course</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add course End -->