<!-- My course -->
<div class="">
    <div class="row">
        <h3>
            My Courses
        </h3>
        <blockquote>
            <p>View, Update and delete your course details</p>
        </blockquote>
    </div>
        <!-- course div start -->
        <div class="profile_form">
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s12 m10">
                        <input id="course_name" type="text" class="validate">
                        <label for="course_name">Title</label>
                    </div>
                    <div class="input-field col s12 m2">
                        <input id="course_credit" type="number" class="validate">
                        <label for="course_credit">Credit</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field col s12 m6 center-align">
                        <a class="waves-effect waves-light btn orange accent-4 ">Update course</a>
                    </div>
                    <div class="input-field col s12 m6 center-align">
                        <a class="waves-effect waves-light btn red accent-4">Delete course</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- course div end -->
</div>
<!-- My course End -->