<!-- My course -->
<div class="">
    <div class="row">
        <h3>
            Quiz
        </h3>
        <blockquote>
            <p>View, Update and delete your quiz.</p>
        </blockquote>
    </div>
    <div class="profile_form" ng-repeat="quiz in quizs">
        <div class="row">
            <form class="col s12">



                <div class="input-field col s12 m12">
                    <input disabled id="course_name" value={{quiz.course_name}} type="text" class="validate">
                    <label class="active" for="course_name">Course name</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Course name</span>
                </div>
                <!-- <div class="input-field col s12 m2">
                    <input disabled id="available" type="text" class="validate">
                    <label for="available">Available</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Available</span>
                </div> -->
                <div class="input-field col s12 m4 center-align">
                    <a id="add_quiz_{{$index}}" ng-click="add_quiz()" href="./quiz_update.html" class="waves-effect waves-light btn blue darken-4">Add quiz</a>
                </div>
                <div class="input-field col s12 m4 center-align">
                    <a id="update_quiz_{{$index}}" href="./quiz_update.html" class="disabled waves-effect waves-light btn orange accent-4">Update quiz</a>
                </div>
                <div class="input-field col s12 m4 center-align">
                    <a id="del_quiz_{{$index}}" class="disabled waves-effect waves-light btn red accent-4">Remove quiz</a>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- My course End -->