<!-- My course -->
<div class="">
    <div class="row">
        <h3>
            Quiz
        </h3>
        <blockquote>
            <p>View, Update and delete your quiz.</p>
        </blockquote>
    </div>
    <div class="z-depth-1 profile_form">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12 m10">
                    <input disabled id="course_name" type="text" class="validate">
                    <label for="course_name">Course name</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Course name</span>
                </div>
                <div class="input-field col s12 m2">
                    <input disabled id="available" type="text" class="validate">
                    <label for="available">Available</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Available</span>
                </div>
                <div class="input-field col s12 m4 center-align">
                    <a href="./quiz_update.html" class="waves-effect waves-light btn blue darken-4">Add quiz</a>
                </div>
                <div class="input-field col s12 m4 center-align">
                    <a href="./quiz_update.html" class="waves-effect waves-light btn orange accent-4">Update quiz</a>
                </div>
                <div class="input-field col s12 m4 center-align">
                    <a class="waves-effect waves-light btn red accent-4">Remove quiz</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- My course End -->